<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color: darksalmon">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li style="padding: 10px">@Html.ActionLink("Home", "Index", "Home", new {@class = "btn btn-outline-secondary" })</li>
                <li style="padding: 10px">@Html.ActionLink("About", "About", "Home", new { @class = "btn btn-outline-secondary" })</li>
                <li style="padding: 10px">@Html.ActionLink("Contact", "Contact", "Home", new { @class = "btn btn-outline-secondary" })</li>
                <!--
                    Create Account
                    Edit Account
                -->
            </ul>
        </div>
    </nav>
   
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; Pizzatorium 2017 - Created by Qaanita Fataar</p>           
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
